# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
oversearegister-py3.12/
credentials/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files
data/*.xlsx
data/*.csv
data/receipts/
web/static/receipts/

# Fonts and images (if not versioned)
web/static/fonts/
web/static/images/

# PDF receipts
*.pdf
